.container {
    // if there's enouth space, occupy 120rem
    // if there's not, simply occupy 100% of the available viewport width
    max-width: 120rem;
    // to horizontally center
    margin: 8rem auto;
    background-color: var(--color-grey-light-1);
    box-shadow: var(--shadow-dark);

    min-height: 50rem;
}

// Flexbox container
.header {
    font-size: 1.4rem;
    height: 7rem;
    background-color: #fff;
    border-bottom: 1px solid var(--color-grey-light-2);

    display: flex;
    // align elements on main axis
    justify-content: space-between;
    // alight elements on cross axis;
    align-items: center;
}

// Flexbox container
.content {
    display: flex;
}

// Flexbox item
// Flexbox container
.sidebar {
    background-color: var(--color-grey-dark-1);

    // to define a width for a flexbox item we should always use flex-basis
    // good practice to use shorten property
    // flex-grow | flex-shrink | flex-basis
    flex: 0 0 18%; // since we're using a percentage it will automatically shrink so no need of flex-shrink

    display: flex;
    flex-direction: column; // change the main direction from left-right to top-bottom
    justify-content: space-between; // now we can use space between to push the legal text to the bottom
}

// Flexbox item
.hotel-view {
    background-color: #fff;
    // background-color: orangered; // for testing porpouses
    height: 80rem;

    // grow as much as the flexbox item can, occupy all the available space it has
    // in this case is 82% --> 100% - 18%
    flex: 1;
}